article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  color: #080808;
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 7px 10px;
  border-radius: 5px;
  border: 2px solid #000000;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}

.button:focus, .button:hover {
  border-color: #96330E;
}

.button:active {
  background-color: grey;
  color: #fafafa;
}

.header-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.header-modal-text {
  background-color: #151C57;
  color: #fafafa;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  width: 80%;
  border-radius: 10px;
  border: 2px solid #ffffff;
  margin: 5% auto;
  padding: 2rem 0;
}

.header-modal-button {
  margin-top: 2rem;
}

.header-modal.visible {
  display: block;
}

.header-instructions-list {
  padding: 10px;
}

.header-instructions-list-item {
  margin: 15px auto;
}

@media (max-width: 750px) {
  .header-modal-text {
    width: 90%;
    padding: 1rem 0;
    margin: 2% auto;
  }
}

@media (max-width: 450px) {
  .header-modal-message {
    font-size: 0.9rem;
  }
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../assets/hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  letter-spacing: 8px;
  font-weight: 700;
  color: white;
  text-shadow: 4px 4px black;
}

.header-about {
  text-align: center;
  margin-top: 4rem;
}

.header-instructions, .header-play {
  width: 12rem;
  margin: 0 0.5rem;
}

@media (max-width: 830px) {
  .header-title {
    font-size: 4rem;
  }
}

@media (max-width: 590px) {
  .header-title {
    font-size: 3rem;
  }
  .header-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
  .header-about .button {
    margin: 1rem 0;
  }
}

@media (max-width: 460px) {
  .header-title {
    font-size: 2.5rem;
    letter-spacing: 6px;
  }
}

@media (max-width: 380px) {
  .header-title {
    font-size: 2rem;
    letter-spacing: 6px;
  }
}

.card-table {
  padding: 2rem;
  background-color: #0f480a;
  position: relative;
}

.dealer,
.player {
  height: 50%;
}

.dealer-flex-container,
.player-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dealer-cards-starting,
.player-cards-starting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dealer-cards-hit,
.player-cards-hit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.25rem 0;
  height: 7rem;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.player-controls {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-controls .button {
  margin: 0 0.5rem;
  width: 3rem;
}

.card-image {
  width: 5rem;
  margin: 0 0.25rem;
}

.card-flip {
  height: auto;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card-flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card-flip-forward.rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-flip-reverse.rotate {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card-flip-front, .card-flip-back {
  width: 100%;
  top: 0;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-flip-back {
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.game-status {
  display: none;
  position: absolute;
  top: calc(50% - 5rem);
  left: calc(50% - 25rem);
  width: 50rem;
  z-index: 999;
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 6px;
  font-weight: 700;
  color: #fafafa;
  text-shadow: 3px 3px black;
  text-align: center;
}

.game-status.show {
  display: block;
}

.count-output {
  margin: 0.5rem 0;
  font-size: 1.3rem;
  color: #fafafa;
}

.button.deal, .button.hit, .button.stand {
  width: 8rem;
}

@media (max-width: 830px) {
  .game-status {
    font-size: 4rem;
    width: 36rem;
    left: calc(50% - 18rem);
  }
}

@media (max-width: 590px) {
  .game-status {
    font-size: 3rem;
    width: 20rem;
    left: calc(50% - 10rem);
  }
}

@media (max-width: 535px) {
  .player-controls .button {
    width: 6rem;
  }
}

@media (max-width: 460px) {
  .game-status {
    font-size: 2.5rem;
  }
}

@media (max-width: 435px) {
  .player-controls {
    width: 5rem;
  }
}

@media (max-width: 380px) {
  .game-status {
    font-size: 2rem;
    width: 15rem;
    left: calc(50% - 7.5rem);
  }
}

@media (max-height: 750px) {
  .card-image {
    width: 4rem;
  }
  .dealer-cards-hit,
  .player-cards-hit {
    height: 6rem;
  }
}

.footer {
  text-align: center;
  padding: 0.4rem 0;
  font-size: 0.8rem;
}
/*# sourceMappingURL=main.css.map */