.card-table {
  padding: 2rem;
  background-color: rgb(15, 72, 10);

  position: relative;
}

.dealer,
.player {
  height: 50%;

  &-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-cards-starting {
    display: flex;
    justify-content: center;
  }

  &-cards-hit {
    display: flex;
    justify-content: center;
    margin: 0.25rem 0;
    height: 7rem;
  }
}

.player {
  display: flex;
  flex-direction: column;
  align-items: space-between;

  &-controls {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;

    .button {
      margin: 0 0.5rem;
      width: 3rem;
    }
  }
}

// card images
.card-image {
  width: 5rem;
  margin: 0 0.25rem;
}

// card flip animation
.card-flip {
  height: auto;
  perspective: 1000px;

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  // rotation directions for cards
  &-forward.rotate {
      transform: rotateY(180deg);
  }

  &-reverse.rotate {
    transform: rotateY(-180deg);
  }

  &-front,
  &-back {
    width: 100%;
    top: 0;
    height: 100%;
    backface-visibility: hidden;
  }  

  &-back {
    position: absolute;
    transform: rotateY(180deg);
  }
}

.game-status {
  display: none;
  position: absolute;
  top: calc(50% - 5rem);
  left: calc(50% - 25rem);
  width: 50rem;
  z-index: 999;

  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 6px;
  font-weight: 700;
  color: #fafafa;
  text-shadow: 3px 3px black;
  text-align: center;

  &.show {
    display: block;
  }
}

.count-output{
  margin: 0.5rem 0;
  font-size: 1.3rem;
  color: #fafafa;
}

.button {
  &.deal,
  &.hit,
  &.stand {
    width: 8rem;
  }
}

@media (max-width: 830px) {
  .game-status {
    font-size: 4rem;
    width: 36rem;
    left: calc(50% - 18rem);
  }
}

@media (max-width: 590px) {
  .game-status {
    font-size: 3rem;
    width: 20rem;
    left: calc(50% - 10rem);
  }
}

@media (max-width: 535px) {
  .player-controls .button {
    width: 6rem;
  }
}

@media (max-width: 460px) {
  .game-status {
    font-size: 2.5rem;
  }
}

@media (max-width: 435px) {
  .player-controls {
    width: 5rem;
  }
}

@media (max-width: 380px) {
  .game-status {
    font-size: 2rem;
    width: 15rem;
    left: calc(50% - 7.5rem);
  }
}

@media (max-height: 750px) {
  .card-image {
    width: 4rem;
  }

  .dealer,
  .player {
    &-cards-hit {
      height: 6rem;
    }
  }
}