.header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

  display: flex;
  flex-direction: center;
  align-items: center;

  &-title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: 700;
    color: white;
    text-shadow: 4px 4px black;
  }

  &-about {
    text-align: center;
    margin-top: 4rem;
  }

  &-instructions,
  &-play {
    width: 12rem;
    margin: 0 0.5rem;
  }
}